/* Color Palette */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(0.13 0.028 261.692 / 2%);
  --card-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.13 0.028 261.692);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.13 0.028 261.692 / 5%);
  --muted: oklch(0.13 0.028 261.692 / 5%);
  --muted-foreground: oklch(0.446 0.03 256.802);
  --accent: oklch(0.13 0.028 261.692 / 5%);
  --accent-foreground: oklch(0.13 0.028 261.692);
  --border: oklch(0.13 0.028 261.692 / 5%);
  --brand: oklch(0.645 0.246 16.439);
  --sunset-1: oklch(0.769 0.188 70.08);
  --sunset-2: oklch(0.645 0.246 16.439);
  --sunset-3: oklch(0.541 0.281 293.009);
}

.dark {
  --background: oklch(0.15 0.008 200);
  --foreground: oklch(0.985 0.004 200);
  --card: oklch(0.08 0.004 200);
  --card-foreground: oklch(0.985 0.004 200);
  --primary: oklch(0.985 0.004 200);
  --primary-foreground: oklch(0.13 0.028 261.692);
  --secondary: oklch(1 0.01 240 / 6%);
  --muted: oklch(1 0 0 / 10%);
  --muted-foreground: oklch(0.78 0.012 200);
  --accent: oklch(1 0 0 / 10%);
  --accent-foreground: oklch(0.985 0.004 200);
  --border: oklch(1 0.01 240 / 16%);
  --brand: oklch(0.712 0.194 200.428);
  --sunset-1: oklch(0.828 0.189 84.429);
  --sunset-2: oklch(0.712 0.194 13.428);
  --sunset-3: oklch(0.606 0.25 292.717);
}
