---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <h1 class="text-3xl font-bold underline">Nathan Roark</h1>
    <h2 class="text-2xl mt-4">Software Engineer & Web Developer</h2>
    <p class="mt-4">Welcome to my developer website.</p>
  </div>
</Layout>
