---
import { Icon } from "astro-icon/components";
import Badge from "./ui/Badge.astro";

interface Props {
  title: string;
  description: string;
  tags: readonly string[];
  link?: string;
}

const { title, description, tags, link } = Astro.props;

const Tag = link ? "a" : "div";
---

<Tag
  href={link}
  target={link ? "_blank" : undefined}
  rel={link ? "noopener noreferrer" : undefined}
  class:list={[
    "group flex flex-col rounded-lg border border-border bg-card p-3 transition-all",
    link &&
      "hover:-translate-y-0.5 hover:border-foreground/30 hover:shadow-md",
  ]}
>
  <div class="flex items-start justify-between gap-2">
    <h3 class="text-base font-semibold leading-tight tracking-tight">
      {title}
    </h3>
    {
      link && (
        <Icon
          name="lucide:arrow-up-right"
          class="size-4 shrink-0 text-muted-foreground transition-all group-hover:-translate-y-0.5 group-hover:translate-x-0.5 group-hover:text-foreground"
        />
      )
    }
  </div>
  {
    link && (
      <div class="hidden font-mono text-xs underline print:block">
        {link.replace("https://", "").replace("www.", "").replace("/", "")}
      </div>
    )
  }
  <p class="mt-1.5 font-mono text-xs text-muted-foreground">
    {description}
  </p>
  <div class="mt-auto flex flex-wrap gap-1 pt-3">
    {
      tags.map((tag) => (
        <Badge variant="secondary" class="px-1.5 py-0 text-[10px]">
          {tag}
        </Badge>
      ))
    }
  </div>
</Tag>
