---
interface Props {
  variant?: "default" | "secondary" | "brutal" | "outline";
  class?: string;
}

const { variant = "default", class: className = "" } = Astro.props;

const variants = {
  default: "bg-primary text-primary-foreground px-2.5 py-0.5",
  secondary: "bg-secondary text-secondary-foreground px-2.5 py-0.5",
  brutal: "bg-primary text-primary-foreground px-1 py-0",
  outline:
    "border border-input bg-background hover:bg-accent hover:text-accent-foreground px-2.5 py-0.5",
};
---

<div
  class:list={[
    variants[variant],
    "inline-flex items-center rounded-sm border border-transparent  text-xs font-semibold transition-colors",
    className,
  ]}
>
  <slot />
</div>
